     .slick-buttons {
      background-color: transparent;
      border-width: 0;
    }

    .slick-buttons {
      position: absolute;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      z-index: 2;
    }

    .slick-buttons span {
      display: none;
    }

    .slick-buttons.slick-prev:before,
    .slick-buttons.slick-next:before {
      display: block;
      width: 20px;
      height: 20px;
      border-color: #ffffff;
      content: '';
    }

    .slick-buttons.slick-prev {
      left: 20px;
    }

    .slick-buttons.slick-prev:before {
      border-top-width: 8px;
      border-left-width: 8px;
      border-top-style: solid;
      border-left-style: solid;
      transform: rotate(-45deg);
    }

    .slick-buttons.slick-next:before {
      border-bottom-width: 8px;
      border-right-width: 8px;
      border-bottom-style: solid;
      border-right-style: solid;
      transform: rotate(-45deg);
    }

    .slick-buttons.slick-next {
      right: 50px;
    }

    .slick-dots {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      list-style: none;
      text-align: center;
      margin: 0;
    }

    .slick-dots li {
      display: inline-block;
    }

    .slick-dots li button {
      outline: none;
      display: inline-block;
      background-color: transparent;
      border-width: 0;
    }

    .slick-dots li button span {
      display: none;
    }

    .slick-dots li button:before {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      content: '';
      background-color: #ffffff;
    }

    .slick-dots li.slick-active button:before {
      background-color: #000000;
    }

    .intro-section {
      padding: 10rem 0 0;
    }

    .intro-video {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      display: block;
    }

    .intro-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .slider img {
      max-width: 100%;
    }